* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: purple;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 50px;
  max-height: 50px;
  animation: spin 2s linear infinite;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #ffcb05;
}

#burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

#burger span {
  width: 25px;
  height: 3px;
  background: white;
}

.home {
  background: #ffcb05;
  text-align: center;
  padding: 70px 20px;
  animation: fade 1.5s;
}

.home h2 {
  margin-bottom: 10px;
}

#pokemon {
  background: rgb(255, 0, 0);
  width: 100%;
  border-top: 1px solid darkred;
}

.section-title {
  text-align: center;
  margin: 0 40px 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.card {
  border: 3px solid orangered;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: rgb(181, 60, 80);
}

.card img {
  width: 100px;
}

.card button {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: chartreuse;
}

.card button:hover {
  background: green;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

#modalBody h3 {
  color: green;
  margin-bottom: 5px;
}

#modalBody h4 {
  color: red;
  margin-bottom: 5px;
}

#modalBody li {
  list-style: none;
  margin-bottom: 5px;
  color: rgb(207, 7, 7);
}

.modal-content {
  background: white;
  width: 320px;
  margin: 100px auto;
  padding: 20px;
  position: relative;
}

#closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

footer {
  background: rgb(42, 117, 187);
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 620px) {
  nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;

    background: purple;
    display: none;
  }

  nav.active {
    display: block;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  #burger {
    display: flex;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
